<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SISPAG</title>
    <!-- Incluindo Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <style>
        .header-img {
            width: 100%; /* Reduz a imagem em 40% */
            /* margin-right: 10px; ajuste a margem conforme necessário */
        }
    </style>
</head>
<body>
    <!-- Cabeçalho -->
    <header class="bg-dark text-white py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-4">
            <img src={{ url_for('static', filename='img/logo_white.png') }} alt="Logo" class="header-img">
            </div>
                <div class="col-8">
            <h4>SISPAG - Auditoria Mensal de Pagamento de Pessoal</h4>
                 </div>
            </div>
        </div>
    </header>

    <!-- Conteúdo -->
    <div class="container mt-5">
        <!-- <h2>Meu Formulário</h2> -->
                <!-- Exibe o alerta se houver um erro -->
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
        <form method="POST" action="/">
            <div class="form-group w-25">
                <label for="referencia">Mês da Folha (MM/AAAA)</label>
                <input type="month" class="form-control" id="referencia" name="referencia" required>
            </div>
            <div class="form-group w-50">
                <label for="periodo">Período das GSVs pagas nessa folha</label>
                <div class="input-group">
                    <input type="date" class="form-control" id="abertura" name="abertura" required>
                    <div class="input-group-prepend input-group-append">
                        <span class="input-group-text">a</span>
                    </div>
                    <input type="date" class="form-control" id="fechamento" name="fechamento" required>
                </div>
            </div>
            <div class="form-group">
                <label for="arquivo">Arquivo Financeiro do SIAPE</label>
                <input type="file" class="form-control-file" id="arquivo" name="arquivo">
            </div>
            <button type="submit" class="btn btn-primary">Gerar Relatório</button>
        </form>
    </div>

    <!-- Rodapé -->
    <footer class="bg-dark text-white py-4 mt-5">
        <div class="container">
            <p class="text-center">Copyright © 2024 CBMDF</p>
        </div>
    </footer>

    <!-- Incluindo Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
